@model AndreyTradeProject.Models.TradeBasketModel

@{
  ViewBag.Title = "Покупка совершена";
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="b-ts">
  <h1>Покупка совершена!</h1>
</section><!--B: Trade success-->