@model AndreyTradeProject.Models.TradeBasketModel

@{
  ViewBag.Title = "Покупки";
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
  table {
    margin: 50px 0;
    width: 100%;
  }

    table tr {
      height: 25px;
      line-height: 25px;
    }

      table tr:nth-child(2n) {
        background-color: rgb(245, 245, 245);
      }
</style>

<table style="width: 100%;">
  <tr>
    <td>Имя покупателя</td>
    <td>Количество купленых сертификатов</td>
  </tr>

  @using (Html.BeginForm("PlaceAnOrder", "TradeBasket"))
  {
    foreach (var entity in Model.Entities)
    {
      <tr>
        <td>@entity.User.Name)</td>
        <td>@group.Count()</td>
      </tr>
    }

    <input type="hidden" name="stockCount" value="@Model.Purchases.Count()" />
      
    <input type="submit" value="Оформить" />
  }
</table>

