@model AndreyTradeProject.Models.TradeBasketModel

@{
  ViewBag.Title = "Покупки";
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@{
  var entitiesCount = Model.Entities != null ? Model.Entities.Count() : 0;
}
<link href="~/Content/Stylesheets/Browse.css" rel="stylesheet" />
<div class="PosisionFoterTradeBasketBrowse">
    <div class="BastkeWindow">
        <div class="t-1">Вы купили @entitiesCount серитификатов </div>

        @using (Html.BeginForm("PlaceAnOrder", "TradeBasket"))
        {
            <input type="hidden" name="stockCount" value="@entitiesCount" />
            <input type="submit" value="Оформить" />
        }
    </div>
</div>