@model AndreyTradeProject.Models.TradeBasketModel

@{
  ViewBag.Title = "Покупки";
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
  table {
    margin: 50px 0;
    width: 100%;
  }

    table tr {
      height: 25px;
      line-height: 25px;
    }

      table tr:nth-child(2n) {
        background-color: rgb(245, 245, 245);
      }
</style>

@{
  var entitiesCount = Model.Entities != null ? Model.Entities.Count() : 0;
}

<p>@String.Format("Вы купили {0} серитификатов", entitiesCount)</p>

@using (Html.BeginForm("PlaceAnOrder", "TradeBasket"))
{
  <input type="hidden" name="stockCount" value="@entitiesCount" />

  <input type="submit" value="Оформить" />
}

