@model AndreyTradeProject.Models.IdentificationModel
@{
    ViewBag.Title = "Авторизация";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="~/Content/Stylesheets/Autorize.css" rel="stylesheet" />
<div class="b-au">
    @using (Html.BeginForm())
    {
        <div class="r-d">
            <p>Окно идентификации</p>
        </div>
        @Html.EditorForModel()

        <div class="b-d">
            <input type="submit" value="Отправить" class="button1" />
        </div>
    }
</div><!--B: Autorization-->
